.budget-container {
  color: #ccc;
}

.options-container {
  color: #fff;
  background-color: #4B4B4B;
  padding: 20px 0;
}

.options-bar {
  text-align: center;
}

.budget-fields {
  margin-top: 15px;
}
